body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #212121;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:focus {
  text-decoration: none;
  color: #212121;
}

a:hover {
  text-decoration: none;
  color: #212121;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

header {
  display: flex;
  max-height: fit-content;
  justify-content: space-between;
  padding: 2vh 5vw 2vh 5vw;
  margin: 0vh 0vw 4vh 0vw;
  background-color: #661515;
  box-shadow: 0px 10px 15px black;
}

header > div > img {
  max-height: 15vh;
}

#user-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2vh 0vw;
  margin-bottom: 4vh;
}

#div-sign-up {
  margin: 0vh 1vw 0vh 0vw;
}

#div-sign-in-btn {
  text-align: center;
  min-width: 5vw;
  height: 2vh;
  padding: 0.5vh 1vw;
  border: 1.2px solid #212121;
  background-color: #373736;
  border-radius: 10px;
}

.input-field {
  margin-right: 0;
  height: 2vh;
}

.btn {
  background-color: #373736;
  border: 1px solid #212121;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-left: 0;
  height: 2.8vh;
}

.btn:hover {
  color: #212121;
}

#main {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0vh 10vw;
}

#main-welcome {
  flex-grow: 2;
  width: 90vw;
  margin-bottom: 2vh;
  background-image: url(/images/welcome-bg.png);
  box-shadow: 0px 10px 15px black;
}

.main-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh 5vw 2vh 5vw;
  margin: 0.7vh;
  background-color: rgba(55, 55, 54, 0.4);
}

.main-inner-movies {
  background-color: #373736;
  margin: 0.4vw;
  padding: 2vh 2vw;
}

#text-welcome {
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  max-width: 30vw;
  color: #979797;
}

#welcome-content {
  margin-left: 30vw;
  color: #979797;
  font-weight: bold;
}

#text-welcome-watch {
  color: #979797;
  font-weight: bold;
}

#main-trending {
  background-color: #212121;
  flex-grow: 1;
  width: 30vw;
  margin: 2vh 1.5vw 2vh 0vw;
  border: 2px solid #373736;
  box-shadow: 0px 10px 15px black;
}

#text-trending {
  color: #979797;
  margin: 0;
  padding-bottom: 2vh;
  font-weight: bold;
  font-size: larger;
}

.picture-reel {
  display: flex;
  justify-content: space-evenly;
}
.picture-reel > img {
  max-height: 15vh;
}

.picture-reel > img:hover {
  box-shadow: 0px 10px 15px black;
}

#main-newest-releases {
  background-color: #212121;
  flex-grow: 1;
  width: 30vw;
  margin: 2vh 0vw 2vh 1.5vw;
  border: 2px solid #373736;
  box-shadow: 0px 10px 15px black;
}

#text-newest-releases {
  color: #979797;
  margin: 0;
  padding-bottom: 2vh;
  font-weight: bold;
  font-size: larger;
}

@media only screen and (max-width: 900px) {
  header {
    height: 8vh;
  }
  header > div > img {
    max-height: 7vh;
  }
  #div-sign-up {
    display: none;
  }
  #div-sign-in-btn {
    width: 20vw;
    height: 2.5vh;
  }
  #search-area {
    display: none;
  }
  #main-welcome {
    display: none;
  }
  #main {
    flex-direction: column;
  }
  #main-trending {
    width: auto;
    min-width: 300px;
    margin: 2vh 0vw;
  }
  #main-newest-releases {
    width: auto;
    min-width: 300px;
    margin: 2vh 0vw;
  }
  .picture-reel > img {
    max-height: 10vh;
  }
}
